body {
  background-color: #32B796;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: "Krub";
}

h1 {
  font-weight: lighter;
  font-size: 3em;
}

h2 {
  font-weight: lighter;
  font-size: 1.7em;
}


.main-container {
  max-width: 80vw;
  margin: auto;
}

.header {
  text-align: center;
  margin: 7em auto;
}
