body {
  background-color: #32B796;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: "Krub";
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}


.main-container {
  max-width: 80vw;
  margin: auto;
}

.header {
  text-align: center;
}
